version: '3.9'

services:
  api:
    container_name: api-nestjs-auth-boilerplate
    build: .
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - network
    # ports:
    #   - '${MAPPED_PORT_API}:${PORT_API}'
    volumes:
      - .:/home/api/nestjs/auth-boilerplate
    restart: always
    command: sh -c 'npx prisma migrate deploy & pnpm run start:dev'

  postgres:
    container_name: postgres-nestjs-auth-boilerplate
    image: postgres:16.3-alpine
    networks:
      - network
    # ports:
    #   - '${MAPPED_PORT_DB}:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    container_name: redis-nestjs-auth-boilerplate
    image: redis:7.0-alpine
    networks:
      - network
    deploy:
      resources:
        limits:
          cpus: '0.2'
          memory: '512M'
    # ports:
    #   - '${MAPPED_PORT_REDIS}:6379'
    volumes:
      - redis_data:/data
    restart: always
    command: redis-server --loglevel warning

  nginx:
    container_name: nginx-nestjs-auth-boilerplate
    image: nginx:1.25-alpine
    depends_on:
      - api
    networks:
      - network
    ports:
      - '${MAPPED_PORT_NGINX}:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: always

networks:
  network:


volumes:
  postgres_data:
  redis_data:
