<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700"
    rel="stylesheet"
  />

  <style type="text/css">
    body {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      background: #191a1e;
      color: #fff;
      font-family: 'Montserrat', 'Tahoma';
    }
    h4 {
      font-size: 18px;
      font-weight: 400;
    }
    .button {
      padding: 10px 20px;
      background-color: #3a3f44;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .button:hover {
      background-color: #5a5f64;
    }
  </style>

  <title>Document</title>
</head>
<body>
  <br/>
  <img src="../public/assets/logo_nest.svg" width="100" />
  <h4>Welcome to the SaaS and Ecommerce Boilerplate Backend!</h4>
  <button class="button" onclick="window.location.href='/docs'">Go to Swagger</button>
</body>
</html>

