<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compra Realizada</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      color: #333;
    "
  >
    <div
      style="
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 1500px;
        width: 90%;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
      "
    >
      <h2
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          color: #333;
          text-align: left;
          font-size: 1.5em;
          margin-bottom: 30px;
          margin-top: 10px;
        "
      >
        Sua compra foi realizada com Sucesso!
      </h2>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 1.6;
          margin-bottom: 5px;
        "
      >
        Olá, %{{NAME}}%
      </p>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 1.6;
          margin-bottom: 40px;
        "
      >
        Parabéns pela nova compra feita na PLATAFORMA!<br />
        Agora você tem acesso ao produto %{{PRODUCT_NAME}}%.
      </p>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 1.6;
          margin-bottom: 60px;
        "
      >
        Dados do seu pedido:<br />
        <strong>Produto:</strong> %{{PRODUCT_NAME}}%<br />
        <strong>Valor:</strong> %{{VALUE}}%<br />
        <strong>Data da compra:</strong> %{{DATE}}%<br />
        <strong>Forma de pagamento:</strong> %{{PAYMENT_METHOD}}%<br />
        <strong>Tipo de pagamento:</strong> %{{PAYMENT_TYPE}}%<br />
      </p>

      <div
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          text-align: center;
          margin: 30px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        "
      >
        <a
          href="%{{LINK}}%"
          style="
            background-color: #5342ec;
            color: #fff;
            padding: 15px 25px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            font-size: 16px;
          "
          >Acesse a PLATAFORMA</a
        >
      </div>

      <hr
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          border: none;
          border-top: 1px solid #ddd;
          margin: 30px 0;
        "
      />

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 0.9em;
          line-height: 1.6;
        "
      >
        Se você não solicitou este email, por favor, ignore esta mensagem.
      </p>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 1.6;
        "
      >
        Atenciosamente,<br />Equipe <strong>PLATAFORMA</strong><br /><strong
          >Plataforma Digital</strong
        >
      </p>
      <div
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          text-align: center;
          margin-top: 20px;
        "
      >
        <img
          src="https://as1.ftcdn.net/v2/jpg/09/27/30/94/1000_F_927309493_5JSbBiRMqxnJI74t41WXiqZldLpApwBH.jpg"
          style="
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            width: 150px;
            height: 41px;
          "
        />
      </div>
    </div>
  </body>
</html>
