<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verificação de Conta</title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      color: #333;
    "
  >
    <div
      style="
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 1500px;
        width: 90%;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
      "
    >
      <h2
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          color: #333;
          text-align: left;
          font-size: 1.5em;
          margin-bottom: 30px;
          margin-top: 10px;
        "
      >
        Você está quase lá! Verifique seu e-mail para ativar sua conta na
        PLATAFORMA
      </h2>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 1.6;
          margin-bottom: 5px;
        "
      >
        Olá, %{{NAME}}%
      </p>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 1.6;
          margin-bottom: 60px;
        "
      >
        Você está quase lá! Falta apenas um último passo para acessar tudo o que
        a PLATAFORMA tem a oferecer. Para concluir seu cadastro e começar sua
        jornada de transformação digital, por favor, insira o código abaixo na
        plataforma e confirme seu endereço de e-mail:
      </p>

      <div
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          text-align: center;
          margin: 30px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        "
      >
        <h2>Código de Verificação</h2>
        <div
          style="
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: gainsboro;
            width: auto;
            padding: 15px 25px;
            border-radius: 10px;
            text-align: center;
            margin-top: 20px;
          "
        >
          <h2
            style="
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              letter-spacing: 15px;
              margin-left: 15px;
            "
          >
            %{{CODE}}%
          </h2>
        </div>
      </div>

      <hr
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          border: none;
          border-top: 1px solid #ddd;
          margin: 30px 0;
        "
      />

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 0.9em;
          line-height: 1.6;
        "
      >
        A verificação do e-mail é necessária para garantir a segurança da sua
        conta e permitir o acesso completo a PLATAFORMA e às nossas ferramentas
        avançadas de gestão.
      </p>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 0.9em;
          line-height: 1.6;
        "
      >
        Se você não solicitou esta conta, por favor, ignore esta mensagem.
      </p>

      <p
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-size: 1em;
          line-height: 1.6;
        "
      >
        Atenciosamente,<br />Equipe <strong>PLATAFORMA</strong><br /><strong
          >Plataforma Digital</strong
        >
      </p>
      <div
        style="
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          text-align: center;
          margin-top: 20px;
        "
      >
        <img
          src="https://as1.ftcdn.net/v2/jpg/09/27/30/94/1000_F_927309493_5JSbBiRMqxnJI74t41WXiqZldLpApwBH.jpg"
          style="
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            width: 150px;
            height: 41px;
          "
        />
      </div>
    </div>
  </body>
</html>
